name: clever_ads_solutions
description: The CAS.AI Flutter plugin allows you to easily monetize your apps for iOS and Android using lot of Ads SDKs in mediation.
version: 0.5.0
repository: https://github.com/cleveradssolutions/CAS-Flutter
documentation: https://github.com/cleveradssolutions/CAS-Flutter/wiki

environment:
  sdk: '>=3.4.3 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.cleveradssolutions.plugin.flutter
        pluginClass: CASFlutter
      ios:
        pluginClass: CASFlutterSwift

topics:
  - ads
  - android
  - ios
